// utili

.m-top {
    margin-top: 20px;
}

// contenitore del modulo

.create-container {
    background-color: rgb(255, 255, 255);
    max-width: 1080px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid currentColor;
    box-shadow: 10px 10px 5px lightgray;
}

// titolo e link

.title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid dodgerblue;

    a {
        padding: 5px 10px;
        background-color: dodgerblue;
        color: white;
        border-radius: 10px;
    }
}


// modulo
form {
    display: block;

    .form-row {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 20px;
    }

    textarea {
        width: 100%;
    }

    .btn-box {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .btn {
        padding: 5px 10px;
        color: white;
        border-radius: 10px;

        &.sub {
            background-color: dodgerblue;
        }

        &.res {
            background-color: rgb(220, 56, 56);
        }
    }

}