/* sfondo della sezione */

#comics-list {
    background-color: black;
}

/* contenitore */
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

/* bottone */

.series {
    background-color: dodgerblue;
    padding: 5px 10px;
    color: white;
    position: relative;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    border: none;
}

/* riga */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    /* card */
    .card {
        padding: 0 10px;
        margin-bottom: 20px;
        max-width: calc(100% / 6);
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
        }
    }

}




figure {
    text-align: center;
}

figcaption {
    width: 100%;
    text-align: left;
    margin-top: 10px;

    h4 {
        color: white;
        font-size: 14px;
    }
}

// pulsante per creare

.add-icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    a {
        color: white;
        background-color: dodgerblue;
        padding: 10px;
        border-radius: 50%;
    }
}


/* pulsante */
.btn-box {
    margin-top: 20px;
    text-align: center;

    .more {
        padding: 10px 50px;
        background-color: dodgerblue;
        border: none;
        color: white;
        margin-bottom: 20px;
        font-weight: 100;
        font-size: 12px;
    }
}

.bin {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    margin-top: 10px;
}

.fa-trash-can {
    color: white;

}

div.card:hover .bin {
    display: flex;
}